.ib{
    border-radius: 10px;
    background-color:lightgray;
    margin: 3px;
}

.block{
    display:flex;
    justify-content: space-between;
}
.user-data{
    background-color: white;
}
.img-round{
    border-radius: 50%;
}
.lable{
    width: 50%;
    margin: 0 5% auto;
}
.main{
    display: flex;
}
@media screen and (max-width:660px) {
    .main{
        display: inline-block;
    }
}
